
build/Release
.env

# Dependency directories
node_modules/
jspm_packages/
.expo/
.eslintcache
.web-build/

*.expo/
assets/.DS_Store
.expo/settings.json
*.json
*.json

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

